<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">  
	<meta charset="utf-8">  
	<title>{{meta_title}}</title>  
	<meta name="description" content="{{meta_description}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="">
	<link rel="stylesheet" href="{{asset "css/style.css"}}">
	{{ghost_head}}
</head>  
<body class="{{body_class}}">
	{{{body}}}
</body>
</html>